# Python
__pycache__/

# Environments
.env

# IDE
.vscode/
.idea/

CLAUDE.md

# secrets
.secrets/*
!.secrets/.env.example

.env
*.env

# streamlit secrets
.streamlit/secrets.toml

# dbmate local env
db/.env
